<html>
    <head>
        <title>Nope</title>

        <link rel = "stylesheet"
        href = "https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
        integrity = "sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
        crossorigin = "anonymous">

        <style>
            #main{
                background-color: lightgrey;
                padding: 20px;
                padding-left: 150px;
                padding-right: 150px;
                height: 650px;
            }
            a {
                font-size: 28px;
            }
        </style>
    </head>
    <body>
        <div id = "main">
            <h1>Hey, what do you think you are doing? This functionality is only available
                to admins, you know. </h1>
            <h1>But don't worry. I've logged you out so that you can't do anything
                harmful to this site again. </h1>
            <br>
            <br>
            <a href = "/">Click on this link to go back to the Login Page </a>
        </div>
    </body>
</html>